html {
  height: 100%;
}

body {
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', 나눔고딕,
    'Nanum Gothic', 'Noto Sans KR', 'Noto Sans CJK KR', arial, 돋움, Dotum,
    Tahoma, Geneva, sans-serif;

  letter-spacing: -0.5px;
  font-weight: 500;
  color: #424242;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100%;
}

:root {
  --main-color: #7950f2;
  --sub-color: #845ef7;
  --disabled-color: #d0bfff;
}
